app-dynamic-form {
    mat-list.dtl-fluent-card {
        margin: 10px;
        border: 1px solid #cccccc;
        border-radius: 10px;
    }

    mat-form-field {
        width: 100%;
    }

    .form-field-wrapper {
        margin: 20px;
    }

    div.dtl-fluent-columns {
        display: flex;
        flex-direction: row;
    }

    .code-box,
    .send-button {
        margin-left: 10px;
    }
}
