
<form id="dynamic-form" [formGroup]="dynamicForm" autocomplete="on">

    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: formSchema.layout }"></ng-container>

    <ng-template #recursiveListTmpl let-prop="prop">
        @for(item of prop; track item; let index = $index) {
                @if(item.items && item.items.length > 0) {
                    @if(item.widget.type === 'dtl-fluent-card') {
                        <mat-list class="dtl-fluent-card">
                            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: item.items }"></ng-container>
                        </mat-list>
                    } @else if(item.widget.type === 'dtl-fluent-columns') {
                        <div class="dtl-fluent-columns">
                            @for(column of item.config.columns; track column; let index = $index) {
                                <mat-list [ngStyle]="{'width.%': 100 / item.config.columns.length}">
                                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: getColumnItems(column, item.items) }"></ng-container>
                                </mat-list>
                            }
                        </div>
                    } @else {
                        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: item.items }"></ng-container>
                    }
                } @else {
                    <div class="form-field-wrapper">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ formSchema.properties[item].title }}</mat-label>
                            <!-- inputs area -->
                            @if(formSchema.properties[item].widget.type === 'select') {
                                <mat-select matInput class="form-property-input" [formControlName]="item">
                                    @for(selectItem of formSchema.properties[item].oneOf; track selectItem; let index = $index) {
                                        <mat-option [value]="selectItem.const">{{ selectItem.title }}</mat-option>
                                    }
                                </mat-select>
                            } @else if(formSchema.properties[item].widget.type === 'textarea') {
                                <textarea matInput class="form-property-input" [formControlName]="item"></textarea>
                            } @else {
                                <input matInput class="form-property-input" [formControlName]="item" />
                            }
                            <!-- errors area -->
                            <mat-error>{{ getError(item) }}</mat-error>
                        </mat-form-field>
                    </div>
                }
        }
    </ng-template>
    <button class="send-button" [disabled]="!dynamicForm.valid">Send</button>
</form>

<div class="code-box">
    <pre><code>{{ getFormValue() }}</code></pre>
</div>
