
<form id="dynamic-form" [formGroup]="dynamicForm" autocomplete="on">

    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: formSchema.layout }"></ng-container>

    <ng-template #recursiveListTmpl let-prop="prop">
        @for(item of prop; track item; let index = $index) {
                @if(item.items && item.items.length > 0) {
                    @if(item.widget.type === 'dtl-fluent-card') {
                        <mat-list class="dtl-fluent-card">
                            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: item.items }"></ng-container>
                        </mat-list>
                    } @else if(item.widget.type === 'dtl-fluent-columns') {
                        <div class="dtl-fluent-columns">
                            @for(column of item.config.columns; track column; let index = $index) {
                                <mat-list [ngStyle]="{'width.%': 100 / item.config.columns.length}">
                                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: getColumnItems(column, item.items) }"></ng-container>
                                </mat-list>
                            }
                        </div>
                    } @else {
                        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ prop: item.items }"></ng-container>
                    }
                } @else {
                    <mat-list-item>
                        <div class="list-item-container">
                            <span class="form-property-name">{{ formSchema.properties[item].title }}</span>
                            <span class="form-property-item">
                                @if(formSchema.properties[item].widget.type === 'select') {
                                <select class="form-property-input" [name]="item" [formControlName]="item">
                                    @for(selectItem of formSchema.properties[item].oneOf; track selectItem; let index = $index) {
                                        <option [value]="selectItem.const">{{ selectItem.title }}</option>
                                    }
                                </select>
                                } @else {
                                    <input class="form-property-input"
                                        [name]="item"
                                        autocomplete="on"
                                        [type]="formSchema.properties[item].widget.type"
                                        [formControlName]="item" />
                                }
                            </span>
                        </div>
                        <div class="error-box">
                            @if (dynamicForm.get(item)?.invalid && (dynamicForm.get(item)?.dirty || dynamicForm.get(item)?.touched)) {
                                @if (dynamicForm.get(item)?.hasError('required')) {
                                    <mat-error>Zadejte hodnotu</mat-error>
                                }
                                @if (!dynamicForm.get(item)?.hasError('required') && dynamicForm.get(item)?.hasError('forbiddenText')) {
                                    <mat-error>{{ formSchema.properties[item].widget.validationMessages?.pattern || 'Neplatná hodnota' }}</mat-error>
                                }
                            }
                        </div>
                    </mat-list-item>
                }
        }
    </ng-template>
    <button class="send-button" [disabled]="!dynamicForm.valid">Send</button>
</form>

<div class="code-box">
    <pre><code>{{ getFormValue() }}</code></pre>
</div>
